#file proxysql.cfg

datadir="/var/lib/proxysql"

admin_variables=
{
  mysql_ifaces="0.0.0.0:6032"
  admin_credentials="admin:password;remote-admin:password"
}

mysql_variables=
{
  interfaces="0.0.0.0:3306"
  shun_on_failures=999999
  shun_recovery_time_sec=0
}

# defines all the MySQL users
mysql_users:
(
  {
    username = "writer"
    password = "password"
    default_hostgroup = 0
    default_schema = "mysql"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "reader"
    password = "password"
    default_hostgroup = 1
    default_schema = "mysql"
    max_connections=50000
    active = 1
    transaction_persistent=1
  }
)

#defines MySQL Query Rules
mysql_query_rules:
(
  {
    rule_id = 1
    active = 1
    match_digest = "@@SESSION"
    multiplex = 2
  }
)
